tensorflow
keras
torch
numpy
pandas
opencv-python
h5py
ffmpeg-python
python-dotenv
dvc
requests
pillow
mlflow
jupyter
notebook
plotly
ipywidgets
streamlit
gradio
fastapi
uvicorn
python-box
pyYAML
tqdm
ensure
joblib
pydantic
python-multipart
pytest
sphinx
shap
lime
-e .